@font-face {
  font-family: "Gallery Noto Sans";
  src: url("./NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gallery Noto Sans";
  src: url("./NotoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

.e308-root {
  font-family: "Gallery Noto Sans", sans-serif;
}
